<html>
  <head>
	    <meta charset="UTF-8">
	    <title>My Video</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.css">
	    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	</head>
	<body class="p-0 m-0" onkeydown="send(event)" onkeyup="send('stop')" onload="startup()">
		<!-- Modal add face overlay-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Nieuwe foto toegevoegd</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body text-center faceImgContainer">
		        <img src="{{ url_for('static',filename='volg.png') }}" id="faceImg">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" onclick="addFace('again')" data-dismiss="modal">Probeer opnieuw</button>
		      </div>
		    </div>
		  </div>
		</div>
  		<div class=" p-0 m-0 w-100">
  			<div class="row m-0 p-0">	  	
  				<!-- camera list -->
	 	 		<div class="col-md-4 m-0">
	  				<h4 class="h-10 my-0">Camera List</h4>
	  				<div class="camera-list h-90 my-0">
		  				<div class="stream-block w-100 my-2" id="cam_1" onclick="changeCam(1)">
		  					<div class="stream-block-title p-1">
		  						<!-- placeholder block -->
		  							camera 1
		  					</div>
			  				<video class="webcamSmall w-100" id="camera-stream" muted autoplay></video>
			  					Uw browser ondersteunt het element <code>video</code> niet.
							</video>
							<div class="click-overlay"></div>
		  				</div>
		  				<div class="stream-block w-100 my-2" id="cam_2" onclick="changeCam(2)">
		  					<div class="stream-block-title p-1">
		  						<!-- placeholder block -->
		  							camera 2
		  					</div>
		  					
		  					<div class="embed-responsive embed-responsive-16by9">
				  				<iframe width="100%" heigth="auto" src="https://www.youtube.com/embed/21X5lGlDOfg?autoplay=1&showinfo=0&controls=0&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>
				  			</div>
				  			<div class="click-overlay"></div>
		  				</div>
		  				<div class="stream-block w-100 my-2" id="cam_3" onclick="changeCam(3)">
		  					<div class="stream-block-title p-1">
		  						<!-- placeholder block -->
		  							camera 3
		  					</div>
			  				<div class="embed-responsive embed-responsive-16by9">
				  				<iframe width="100%" heigth="auto" src="https://www.youtube.com/embed/nA9UZF-SZoQ?autoplay=1&showinfo=0&controls=0&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>
				  			</div>
				  			<div class="click-overlay"></div>
		  				</div>
		  				<div class="stream-block w-100 my-2" id="cam_4" onclick="changeCam(4)">
		  					<div class="stream-block-title p-1">
		  						<!-- placeholder block -->
		  							camera 4
		  					</div>
		  					<div class="embed-responsive embed-responsive-16by9">
			  					<iframe width="100%" heigth="auto" src="https://www.youtube.com/embed/uj3FqkflC7g?autoplay=1&showinfo=0&controls=0&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>
							</div>
							<div class="click-overlay"></div>
		  				</div>
	  				</div>
	  			</div>	
	  			<!-- steam block (right side) -->
	  			<div class="col-md-8 px-4 pt-4 pb-0" id="activecam">
	  				<div class="stream-block w-100 my-1">
	  					<div class="stream-block-title p-1 w-100" >
	  						<!-- placeholder block -->
	  							camera 5	
	  					</div>
	  					<div class="active_cam_1 embed-responsive embed-responsive-16by9 display-show b-black">
								<svg class="draw-box">
								  <line id="xMin" x1="30%" y1="0%" x2="30%" y2="100%" style="stroke:rgb(255,0,0);stroke-width:2" /><!-- Xmin -->
								  <line id="xMax"	x1="70%" y1="0%" x2="70%" y2="100%" style="stroke:rgb(255,0,0);stroke-width:2" /><!-- Xmax -->
								  <line id="yMin" x1="0%" y1="35%" x2="100%" y2="35%" style="stroke:rgb(255,0,0);stroke-width:2" /><!-- Ymin -->
								  <line id="yMax" x1="0%" y1="68%" x2="100%" y2="68%" style="stroke:rgb(255,0,0);stroke-width:2" /><!-- Ymax -->
								  Sorry, your browser does not support inline SVG.
								</svg>

	  							<video class="webcamBig w-100" id="camera-stream" muted autoplay></video>
	  					</div>
	  					<div class="active_cam_2 embed-responsive embed-responsive-16by9 display-none">
	  						<iframe width="100%" heigth="auto" src="https://www.youtube.com/embed/21X5lGlDOfg?autoplay=1&showinfo=0&controls=0&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>
	  					</div>
	  					<div class="active_cam_3 embed-responsive embed-responsive-16by9 display-none">
	  						<iframe width="448" height="252" src="https://www.youtube.com/embed/nA9UZF-SZoQ?autoplay=1&showinfo=0&controls=0&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
	  					</div>
	  					<div class="active_cam_4 embed-responsive embed-responsive-16by9 display-none">
	  						<iframe width="448" height="252" src="https://www.youtube.com/embed/uj3FqkflC7g?autoplay=1&showinfo=0&controls=0&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  					</div>
	  					<div class="video-placeholder"></div>
	  					<div class="click-overlay"></div>
	  				</div>

	  				<!-- detail section -->
	  				<div class="details w-100 px-0 mx-0 mt-5 row" >
	  					<div class="details-left col-md-4 d-inline-block">
	  						<div class="row detail-name ">
		  						<table class="w-100 my-3 ">
		  							<tr class="py-3">
		  								<td class="text-right px-1 py-1 w-50"><label for="name">Name:</label></td>
		  								<td class="px-1 w-50"> <input onchange="save()" type="email" class="form-control w-100 d-inline-block" id="name" aria-describedby="emailHelp" value="Camera1"></td>
		  							</tr>
		  							<tr class="py-3">
										<div class="checkbox">
	  										<td class="text-right px-1 py-2 w-50"><label> Facetracking: </label></td>
	  										<td class="px-1 w-50"> <input onchange="save('facetracking')" oninput="('facetracking')" type="checkbox" id="facetracking" data-toggle="toggle"></td>
	  									</div>
		  							</tr>
		  						</table>
	  							<button class="text-right px-1 py-1 btn btn-primary px-2" onclick="addFace()">Follow new face</button>
	  							<div class="btn-group dropup px-2">
									<div class="dropup">
										  <button class="dropbtn btn-primary">Presets</button>
										  <div class="dropup-content">
										    <a href="#" onclick="preset('center')">Center</a>
										    <a href="#" onclick="preset('left')">Left</a>
										    <a href="#" onclick="preset('right')">Right</a>
										  </div>
									</div>
								</div>
	  						</div>
	  					</div>
	  					<div class="details-container col-md-8 row">
	  						<div class="details-overlay text-center py-5">
	  							<div >
		  							<img class="h-50" src="{{ url_for('static',filename='img/forbidden.png') }}">
		  							<h5>Cant use while face tracking is on</h5>
	  							</div>
	  						</div>
		  					<div class="details-midle col-md-6 d-inline-block">
		  						<div class="detail-name text-center">		        	
								    <div class="text-center marginbox" onload="startup()">
								    	<h5 class="py-3" id="exampleModalLongTitle">Margins X</h5>
								      	<div class="row pt-3 pb-1 px-3 marginX">
											<span id="ex18-label-Xa" class="hidden"></span>
											<span id="ex18-label-Xb" class="hidden"></span>
											<input id="ex18X" onchange="saveMargin()" type="text"/>
								  		</div>
								  		<h5 class="py-3" id="exampleModalLongTitle">Margins Y</h5>
								  		<div class="row pt-3 px-3 marginY">
											<span id="ex18-label-Ya" class="hidden"></span>
											<span id="ex18-label-Yb" class="hidden"></span>
											<input id="ex18Y"  onchange="saveMargin()" type="text"/>
								  		</div>
								    </div>
		  						</div>
		  					</div>
			  				<div class="details-right col-md-6 d-inline-block">
			  					<div class="controls my-3">
				  					<img src="{{ url_for('static',filename='img/chevron-right-solid.svg') }}" class="right arrow" onmousedown="go('right')" onmouseup="go('stop')">
				  					<img src="{{ url_for('static',filename='img/chevron-right-solid.svg') }}" class="left arrow" onmousedown="go('left')" onmouseup="go('stop')">
				  					<img src="{{ url_for('static',filename='img/chevron-right-solid.svg') }}" class="down arrow" onmousedown="go('down')" onmouseup="go('stop')">
				  					<img src="{{ url_for('static',filename='img/chevron-right-solid.svg') }}" class="up arrow" onmousedown="go('up')" onmouseup="go('stop')">
			  					</div>
			  				</div>
			  			</div>
		  			</div>
	  			</div>
  			</div>
  		</div>
	</div>
  </body>

	<!-- jquery -->	    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>	    

    <!-- bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js"></script>
		<!-- imports -->
  	<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
		<!-- own code -->
    <script type="text/javascript" src="./static/js/main.js"></script>

    <script type="text/javascript" src="./static/js/webcam.js"></script>


</html>
