/*overall style*/
html body {
	overflow-y: auto;
	margin:0;
	padding: 0;
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	overflow-y: hidden;
	background-color: rgba(88, 50, 50, 0.33);
}

.display-show{
	position: absolute;
	opacity: 1;
}
.display-none{
	opacity: 0;
	display: grid;
	position: absolute;
}

.h-10 {
	height: 3vh;
}
.h-90 {
	height: 97vh;
}


/*camera list*/
.camera-list {
    overflow: auto; 
}
.click-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

/*camera list -> Stream block*/
.stream-block {
	background-color: #0000;
	border: 1px solid #000;
	position: relative;
}

#activecam .stream-block{
	border:none;
}

.stream-block .display-show {
	border: 1px solid #000;
}

.stream-block-title {
background: #8f0222;
background: -moz-linear-gradient(top,  #8f0222 12%, #a90329 34%, #a90329 47%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #8f0222 12%,#a90329 34%,#a90329 47%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #8f0222 12%,#a90329 34%,#a90329 47%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

/*Active cam */
.draw-box {
	position: absolute;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
}

.b-black {
	background-color: black;
}

#activecam .stream-block {
	height: 60.5vh;
	position: relative;
}
#activecam .stream-block .embed-responsive {
	  height: 100%;
}



/*detail section*/
.details{
 	height: 30.5vh;
}

.details-container {
	position: relative;
}
.details-overlay.show-overlay {
	z-index: 9999999;
	display: initial;
}  
.details-overlay {
	display: none;
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: rgba(255,255,255,.7);
}

/*detail section -> settings*/
.toggle.btn {
	    background: rgba(111,111,111,0.9);
}
.toggle-off.btn {
	padding-left: 0 !important;
		padding-right: 0 !important;
}
.toggle-on.btn {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

label {
	font-size: 24px;
    font-weight: 500;
}

.add_face button {
	font-size: 20px;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropup:hover .dropup-content {
  display: block;
}

/*detail section -> Slider*/
.slider-horizontal {
	width: 100% !important;
}
.tooltip.tooltip-main.top {
	opacity: 1;
}


/*detail section -> Controls*/
.controls {
	background-color: grey;
	border-radius: 300px;
	width: 10vw;
	height: 10vw;
	margin-left: calc(50% - 5vw);
	position: relative;
}
.arrow {
	width: 3vw;
	position: absolute;
 	height: 3vw;
}
.arrow:hover{
	cursor: pointer;
}

.right {
 	top: calc(50% - 1.5vw);
 	right: 2%;
}

.left {
	transform: rotate(180deg);
 	top: calc(50% - 1.5vw);
 	left: 2%;
}

.down {
	transform: rotate(90deg);
	bottom: 2%;
	left:calc(50% - 1.5vw);

}
.up {
	transform: rotate(270deg);
	top: 2%;
	left:calc(50% - 1.5vw);
}